{#
/**
 * @file
 * Default theme implementation for a page wrapper.
 *
 * For consistent wrapping to {{ page }} render in all themes.
 *
 * Available variables:
 * - children: Contains the child elements of the page.
 *
 * @ingroup themeable
 */
#}
{% if content %}
  {% if before %}
    <div class="escort-before">
      {{ before }}
    </div>
  {% endif %}
  <div{{ attributes.addClass('escort') }}>
    {{ content }}
  </div>
  {% if after %}
    <div class="escort-after">
      {{ after }}
    </div>
  {% endif %}
{% endif %}
